<?xml version="1.0"?>
<robot name="nukhada" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="nukhada"/>
  <!-- Include the ROV macro file -->
  <xacro:include filename="$(find nukhada_description)/urdf/sim/base.xacro"/>
  <!-- <xacro:include filename="$(find nukhada_description)/urdf/gazebo.xacro"/> -->

  <!-- Create the nukhada -->
  <xacro:nukhada_base namespace="$(arg namespace)">
    <!-- The underwater object plugin is given as an input block parameter to
     allow the addition of external models of manipulator units -->
    <gazebo>
      <plugin name="hydrodynamics" filename="libHydrodynamicsPlugin.so">
        <!-- Wave Model -->
        <wave_model>ocean_waves</wave_model>

        <!-- Hydrodynamics -->
        <damping_on>true</damping_on>
        <viscous_drag_on>true</viscous_drag_on>
        <pressure_drag_on>true</pressure_drag_on>

        <!-- Markers -->
        <markers>
          <update_rate>30</update_rate>
          <water_patch>false</water_patch>
          <waterline>false</waterline>
          <underwater_surface>false</underwater_surface>
        </markers>
      </plugin>
    </gazebo>
  </xacro:nukhada_base>

  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="30"/>

</robot>
